*{
	padding: 0;
	margin: 0;
}
html{scroll-behavior: smooth;}
.sections-wrapper{overflow: hidden;}
.section{
	width: 100%;
	height: 100vh;
}
.main{
    background: url('../assets/panel/led.panel.3.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bold{font-weight: bold;}
.sub-sections{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.sub-section{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
[data-bg='green']{background-image: url('../assets/panel/led.panel.1.jpg'); background-repeat: no-repeat; background-position: center;}
[data-bg='cyan']{background-color: #808145;}
[data-bg='pink']{background-color: #edc367;}
[data-bg='yellow']{background-image: url('../assets/panel/led.panel.2.jpg'); background-repeat: no-repeat; background-position: center;}
p{
    padding: 10px;
}