*{
    margin: 0%;
	padding: 0%;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
:root{
	--page-color : #ebebeb;
	--circle-color : #e7e7e7;
	--shadow-color : #cacaca;
	--text-color : black;
}


/* homepage starts */

.parent{
	height: 100vh;
	background-color: var(--page-color);
}
.inner-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.circle{
	width: 30rem;
	height: 30rem;
	border-radius: 50%;
	background-color: var(--circle-color);
}
.big{
	box-shadow: inset 0px 5px 18px var(--shadow-color);
	transition: all 0.5s ease;
	transition-property: opacity;
}
.small{
	width: 12rem;
	height: 12rem;
	box-shadow: 5px 0px 18px var(--shadow-color);
	background-color: var(--page-color);
}
.hide{
	opacity: 0.1;
}

/* homepage ends */

/* spacial classes */
.centre-circle{
	box-shadow: none;
	background-color: var(--page-color)
}

/* --------------- */

/* navigation starts */

.navigation{
	position: fixed;
	height: 100%;
	width: 0;
	background-color: var(--page-color);
	overflow: hidden;
}
.absolutely-centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
}
.carousal-text-wrapper{
	position: absolute;
	display: flex;
	overflow: hidden;
	height: 100%;
	left: 50%;
}
.carousal-text{
	flex : 1;
	z-index: 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* initial translate */
	transform: translateY(35%);
	transition: transform 0.5s ease-in-out;
}
.text{
	flex: 1;
	font-family: sans-serif;
	line-height: 1.6rem;
	/* following two properties because we want text to be left aligned and stacked */
	flex-direction: column;
	align-items: flex-start;
	color: var(--text-color);
}
.image{
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}
.image:nth-child(1){
	background-color: red;
}
.image:nth-child(2){
	background-color: green;
}
.image:nth-child(3){
	background-color: blue;
}
.selected{
	opacity: 1;
}
.hide-navigation{
	width: 0;
	overflow: hidden;
}
.navigation-on{
	width: 100%;
}
/* navigation end */

/* menu start */
.menu{
	position: absolute;
	top: 0;
	right: 5%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu-item{
	padding: 20px 0;
	transform: rotate(270deg);
	color: var(--text-color);
}